- if hide_all
  .quotes-hidden.glyphicon.glyphicon-chevron-right.pull-left
  .quotes-displayed.glyphicon.glyphicon-chevron-down.pull-left.hide
- else
  .quotes-hidden.glyphicon.glyphicon-chevron-right.pull-left.hide
  .quotes-displayed.glyphicon.glyphicon-chevron-down.pull-left
