%form.form-horizontal{ :action => 'new', :method => 'post', :role => 'form'}

  %legend.center-text Create an Account

  .form-group
    %label.control-label.col-sm-2{:for => 'nickname'} Nickname
    .col-sm-6
      %input.form-control{:type => 'text', :name => 'nickname'}

  .form-group
    %label.control-label.col-sm-2{:for => 'email'} Email (optional)
    .col-sm-6
      %input.form-control{:type => 'text', :name => 'email'}

  .form-group
    %label.control-label.col-sm-2{:for => 'password'} Password
    .col-sm-6
      %input.form-control{:type => 'password', :name => 'password'}
      %p.help-block.center We never store your password, so make sure your remember it!

  .col-sm-offset-2.col-sm-10
    %button.btn.btn-primary{:type => 'submit'} Login

  .col-sm-offset-2.col-sm-10
    =link_to '/login', 'already have an account?'
