## required
# - :user => user

%p You are about to remove the following user.

%h2 user info here

%p
  Submitted quotes and publications are not removed.
  Ownership reverts to community moderation.

  All your submitted user data, including emails and passwords will be permanently deleted.
  You can not revert this action.

  .btn submit
