%table.table-condensed.attribute-table
  - unless attributes.empty?
    %thead
      %tr
      %th= kind.capitalize
      %th Number of Quotes
    %tbody
      - attributes.each do |attribute, count|
        %tr
          %td=link_to "/#{kind}/#{attribute}", attribute
          %td.text-right= count
