%script{:src => '/javascript/jquery2.1.1.min.js'}
%script{:src => '/javascript/bootstrap.min.js'}
%script{:src => '/javascript/quote_actions.js'}
%script{:src => '/javascript/toggle_viewable.js'}
%script{:src => '/javascript/user_profile_widgets.js'}
%script{:src => '/javascript/add_new_publication.js'}
%script{:src => '/javascript/tags_autocompletion.js'}
%script{:src => '/javascript/tags_suggestions.js'}
